<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="courses.css" >
<script src="https://kit.fontawesome.com/19484fbcef.js" crossorigin="anonymous"></script>

<p class="title">Online Courses</p>

<p class="quote">"Learning is the beginning of wealth. Learning is the beginning of health. Learning is the beginning of spirituality. Searching and learning is where the miracle process all begins.”</p>
<p class="quote">-Jim Rohn</p>

<div class="box">
<img class="albertImg" src="./assets/albert.png" alt="sketch of Albert Einstein">
<img class="jobsImg" src="./assets/jobs.png" alt="sketch of steve jobs">
</div>

<p class="clicknimg">Click-n-Image Below!</p>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a class="button" href="https://www.edx.org/">
        <img src="./assets/edx.png" class="d-block w-100" alt="...">
        </a>
      </div>
      <div class="carousel-item">
        <a class="button" href="https://www.udemy.com/">
        <img src="./assets/udemy.png" class="d-block w-100" alt="...">
      </a>
      </div>
      <div class="carousel-item">
        <a class="button" href="https://skillshop.withgoogle.com/">
        <img src="./assets/google.png" class="d-block w-100" alt="...">
        </a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <a href="#" class="top">Back to Top &#8593;</a>
 
  

<%- include("partials/footer.ejs") %>
