<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<!-- Home Neighborhood Thread-->
<div class="row page_container">

    <div class="col-lg-4 m-auto">

        <form action="/submit" method="post">
            <h3>Make a Post for your neighbors!</h3>
            <br>
            <div class="mb-3" width="40%">
                <label for="create-post" class="form-label"></label>
                <textarea name="postit" id="create-post" cols="30" rows="10" maxlength="500" placeholder="Max 500 characters." ></textarea>
            </div>
            <label for="color-input" class="form-label">Color Your Post:</label>
            <div class="mb-3">
                
                <input type="radio" name="bgcolor" id="envy" value="#9CAA9C" checked><label for="envy">Envy</label>
                <input type="radio" name="bgcolor" id="catskillwhite" value="#F5FAFA"><label for="catskillwhite">catskillwhite</label>
                <input type="radio" name="bgcolor" id="gothic" value="#6D929B"><label for="gothic">gothic</label>
                <input type="radio" name="bgcolor" id="graycyan" value="#C1DAD6DA"><label for="graycyan">graycyan</label>

                
            </div>
            <input type="submit" value="Post It!"  id="postButton">
        </form>

    </div>

</div>

<%- include("partials/footer.ejs") %>