<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>
<link rel="stylesheet" href="resources.css" >
<script src="https://kit.fontawesome.com/19484fbcef.js" crossorigin="anonymous"></script>

<p>Saftey Tools Links</p>
<img class="watchImg" src="./assets/watch.jpg" alt="watchdog image">


<img class="dogImg" src="./assets/dog.PNG" alt="">
<a class="linkIcon" href="https://www.familywatchdog.us/">Family watchdog</a>

<img class="NNWImg" src="./assets/NNW.PNG" alt="">
<a class="linkIcon" href="https://www.nnw.org/">National Neighborhood Watch</a>

<img class="usccaImg" src="./assets/uscca.PNG" alt="">
<a class="linkIcon" href="https://www.usconcealedcarry.com/">USCCA</a>

<img class="weatherImg" src="./assets/weather.PNG" alt="">
<a class="linkIcon" href="https://www.noaa.gov/weather">National Weather Service</a>

<%- include("partials/footer.ejs") %>