<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>
<link rel="stylesheet" href="resources.css" >
<script src="https://kit.fontawesome.com/19484fbcef.js" crossorigin="anonymous"></script>

<div class="resources">
  <div class="resourcesWrapper">Resources Near You</div>
  <ul class="resourcesList">

    <li class="resourceIcon">
      <i class="fa-solid fa-calendar-days"></i>
      <a class="link" href="events">Events</a>
    </li>

    <li class="resourceIcon">
      <i class="fa-solid fa-binoculars"></i>
      <a class="link" href="neighborhoodwatch">Neighborhood Watch</a>
    </li>
    
    <li class="resourceIcon">
      <i class="fa-solid fa-utensils"></i>
      <a class="link" href="restaurants">Restaurants & Bars</a>
    </li>
    

    <li class="resourceIcon">
      <i class="fa-solid fa-dog"></i>
      <span class="resourceTitle">Pets</span>
      <i class="fa-solid fa-cat"></i>
    </li>

    <li class="resourceIcon">
      <i class="fa-solid fa-graduation-cap"></i>
      <span class="resourceTitle">Courses</span>
    </li>

    <li class="resourceIcon">
      <i class="fa-sharp fa-solid fa-building-user"></i>
      <span class="resourceTitle">City of Austin</span>
    </li>

    
  </ul>
</div>




<%- include("partials/footer.ejs") %>
