<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>
<link rel="stylesheet" href="restaurants.css" >
<script src="https://kit.fontawesome.com/19484fbcef.js" crossorigin="anonymous"></script>

<p>Must-go-to Restaurants and Bars</p>
<div class="formSub">Know of a great place that deserves the monthly spotlight? Shoot us a message <a href="https://formsubmit.co/el/debowu">here!</a>
</div>

<div class="postR">
<div class="postit postit-yellow">
  <p class="name">Black's BBQ</p>
</div>
  <img class="restaurantImg" src="./assets/blacks.png" alt="">
 <div class="desc">In the mood for some authentic Texas BBQ?<br>
    <span class="desc2">Address: 3110 Guadalupe St, Austin, TX 78705<br>Phone: (512) 524-0801<br><a href="https://www.blacksbbq.com/locations/austin/menu">Menu</a></span>
  </div>
 </div>
</div>

<div class="postB">
<div class="postit postit-blue">
  <p class="name">Buzz Mill</p>
</div>
  <img class="barImg" src="./assets/buzz.png" alt="">
 <div class="desc">Patio, Coffee, & Bar - Open 24/7!<br>
    <span class="desc2">Address: 1505 Town Creek Dr, Austin, TX 78741<br>Phone: (512) 547-9909<br><a href="https://www.buzzmillcoffee.com/menu">Menu</a></span>
  </div>
</div>
</div>

<div class="postR">
  <div class="postit postit-yellow">
    <p class="name">Abel's on the Lake</p>
  </div>
    <img class="restaurantImg" src="./assets/blacks.png" alt="">
<div class="desc">A diverse American menu plus scenic lake views!<br>
      <span class="desc2">Address: 3825 Lake Austin Blvd #3510, Austin, TX 78703<br>Phone: (512) 904-0570<br><a href="https://abels.com/lake/menu/">Menu</a></span>
    </div>
</div>
</div>

  <div class="postB">
    <div class="postit postit-blue">
      <p class="name">Speakeasy</p>
    </div>
      <img class="barImg2" src="./assets/speakeasy.png" alt="">
      <div class="desc">Music Lounge, Bowling Mezzanine, and a Ballroom.<br>
        <span class="desc2">Address: 412D S Congress AveAustin, TX 78704
          <br>Phone: (512) 47-PARTY<br><a href="http://speakeasyaustin.com/cocktails/">Menu</a></span>
          <br>
          <br>
          <br>
          <br>
      </div>
    </div>
    </div>



<%- include("partials/footer.ejs") %>
