<h1>Signup Page.</h1>

<a href="/login"><button class="loginBtn">Take me to the login page!</button></a>

<form action="/signup" method="post">
    <input type="text" name="username" placeholder="Username" autocomplete="off" required>
    <input type="password" name="password" placeholder="Password" autocomplete="off" required>
    <input  type="number" name="zipcode" placeholder="5-Digit Zipcode" autocomplete="off" >

    <button>Submit</button>
</form>

<!-- patter="\d" -->