*{
    margin: 0;
    padding: 0%;
}

.post_content{
    width: 60%;
    margin: 20px 20px;
    padding: 16px 18px;
    color: black;
    margin-left: 40%;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
}

.postContent{
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
}

.row{
    width: 80%;
}

.profileImg{
    width: 40px;
    height: 40px;
    border-radius: 80%;
}

.username{
 font-weight: bold;
}

.imgClock{
    width: 6%;
    height: fit-content;
    margin-right: 5px;
    
}

.post-date{
    display: flex;
}

.imgHeart{
    width: 9%;
    margin-right: 3px;
    margin-left: 70%;
}


.mb-3{
    flex-direction: row;
    display: flex;
}

.pageTitle{
    font-family: 'Pacifico', cursive; 
    color: #6D929B;
    font-size: 30px;
}

button{
    display: flex;
    border: none;
}



.likeCounter{
    color: black;
}

.post-card_bottom{
    display: flex;
    flex-direction: row;
}

.fa-regular{
    border:none;
}

#post-cards{
   
    font-size: 20px;
}


#postButton{
    width:35%;
    border-radius: 20px;
}

#envy{
    accent-color: #9CAA9C;
}
#catskillwhite{
    accent-color: #F5FAFA;
}
#gothic{
    accent-color: #6D929B;
}
#graycyan{
    accent-color: #C1DAD6DA;
}

input[type=radio]{
    height: 22px;
    border-radius: 20px;
    justify-content: left;
    flex-direction: row;
    width: 100%;
}


