html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page_container{
  height: 90%;
  /* Prevent Footer overlapping content */
  overflow:auto;
}

.formfirst{
  height: 100%;
}

/* Navbar */
nav{
  width:100%;
}
.nav-link{
  color: #F5FAFA;
  margin-left: 15px;
}
.navbar__style{
  color: #6D929B;
}

/* Post Page */
textarea{
  resize: none;
}

/* Footer */
p.footText {
  font-size: 9px;
  color: #F5FAFA;
  display: flex;
  align-items: center;
  flex-direction: inherit;
}

.footerDiv {
  background: #9CAA9C;
  height: 4.5%;
  width:100%;
  display: flex;
  justify-content: center;
  /* Stick footer to bottom of page */
  position: fixed;
  left: 0;
  bottom: 0;
}



/* Neighborhood Postings */
.post_content{
  border: 5px solid #eee;
  border-radius: 10px;
  color: #F5FAFA;
  /* specify color and width text charact strokes */
  -webkit-text-stroke: 0.5px #333;
}

.post__text{
  height: 220px;
  font-weight: 600;
}

/* Media Queries */
/* Make adjustments to the screen */
@media screen and (min-width:991px) {
  .page_container {
    padding: 2% 7% 4% 7%;
  }
}

