*{
    margin: 0;
    padding:0;
}

body{
    background:#C1DAD6DA url("assets/background.jpg")no-repeat fixed center;
    font-size:1vw;
    align-items: center;
    position: relative;
}


h2{
    font-family: 'Pacifico', cursive; 
    font-size: 75px;
    color: #6D929B;
    margin-left: 25px;
    padding: 25px;
}
  
     
  
 



.container{
     padding: 100pz;
     margin: 100p;
     display: flex;
     flex-direction: row;
     position: absolute;
     align-items: center;
}

.inputfield{
    margin: 20px;
    padding:25px;
    font-family: 'Pacifico', cursive; 
    font-size: 20px;
    color: #6D929B;
}  